* {
  font-family: Arial;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.button1 {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #000d10;
  color: #e7e7e7;
  width: 177px;
  cursor: pointer;
}

.button2 {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #ffffff;
  width: 177px;
  cursor: pointer;
}

.button-hover-1 {
  background-color: #ffffff;
  color: #000000;
}

.button-hover-2 {
  background-color: #e7e7e7;
}

p {
  font-size: 64px;
}

.container-hero {
  background-color: #ff002e;
  height: 400px;
  display: grid;
}

.container-hero p {
  margin-bottom: 20px;
}

.container-items {
  margin-left: 10rem;
  place-self: center start;
}

.container-buttons {
  display: flex;
  gap: 10px;
}

.container-b {
  background-color: #ffd600;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.container-c {
  background-color: #00ff94;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 421px;
}

.container-d {
  background-color: #0fd4ff;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-grid-b {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 25px 0;
}

.container-items-b {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
}

.container-b:nth-child(1) {
  grid-column: 1 / -1;
}

.container-b:nth-child(n + 2) {
  grid-column: span 1;
}
