/* Global Styles */
* {
  font-family: Arial;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 30px 20px;
}

/* Typography */
p {
  font-size: 64px;
  font-family: Arial;
}

/* Button Styles */
.button1,
.button2 {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  width: 177px;
  cursor: pointer;
}

.button1 {
  background-color: #000d10;
  color: #e7e7e7;
}

.button2 {
  background-color: #ffffff;
}

.button-hover-1 {
  background-color: #ffffff;
  color: #000000;
}

.button-hover-2 {
  background-color: #e7e7e7;
}

/* Container Styles */
.container-hero {
  background-color: #ff002e;
  height: 400px;
  display: grid;
}

.container-hero p {
  margin-bottom: 40px;
}

.container-items {
  margin-left: 10rem;
  place-self: center start;
}

.container-buttons {
  display: flex;
  gap: 10px;
}

.container-b {
  background-color: #ffd600;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-c {
  background-color: #00ff94;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 421px;
}

.container-d {
  background-color: #0fd4ff;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Grid Styles */
.container-grid-b {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 45px 0;
}

.container-items-b {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.container-b:nth-child(1) {
  grid-column: 1 / -1;
}

.container-b:nth-child(n + 2) {
  grid-column: span 1;
}

/* Responsive Styles */
@media (max-width: 768px) {
  p {
    font-size: 48px;
  }

  .container-hero {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
  }

  .container-items {
    margin-left: 0;
  }

  .container-buttons {
    flex-direction: column;
    width: 100%;
  }

  .container-buttons button {
    width: 100%;
  }

  .container-grid-b {
    grid-template-columns: 1fr;
  }

  .container-items {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .container-items-b {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-grid-b > div:nth-child(2) {
    order: -1;
  }

  .container-b:nth-child(1) {
    grid-column: 1 / -1;
  }

  .container-b:nth-child(2),
  .container-b:nth-child(3) {
    grid-column: span 1;
  }

  .container-b:nth-child(4) {
    grid-column: 1 / -1;
  }

  .container-hero p {
    width: 200px;
    margin-bottom: 140px;
    margin-top: 30px;
  }

  body {
    padding: 20px 15px;
  }
}
